*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(53, 53, 53) !important;
    overflow: auto;
}

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;

   
}
.header-menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.header-menu > img{
    align-items: center;
    
}
.left{
    margin-left: 50px;
width: 75%;
height: 100%;
display: flex;
flex-direction: column;
color: rgb(243, 243, 243);


}
.left .menu{
  display: flex;
  gap: 40px;
  margin-right: 40px;
  font-weight: bold;
 align-items: center;
}
.right{
    width: 25%;
    height: 700px;
    background-color: #f48915;
    position: relative;
   
}

.right-side{
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
}
.right-side > button{
    font-size: 15px;
    padding: 10px;
    width: 100px;
background-color: white;
color: black;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
.right-side > img{
    position: absolute;
right: 90px;
top: 120px;
}
.heart-rate{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(96, 96, 96);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    top: 90px;
    right: 20px;
}
.heart-rate > img{
    margin-bottom: 10px;
}
.heart-rate > span:nth-child(2){
    font-size: 18px;
    color: rgb(170, 170, 170);
    margin-bottom: 10px;
}
.heart-rate > span:nth-child(3){
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.description{
  width: fit-content;
  padding: 20px;
    margin-top: 100px;
  
    background-color: rgb(62, 62, 62);
    border-radius: 50px;
    position: relative;
    z-index: 1;
}

.description > div{
    position: absolute;
    width: 70px;
    height: 50px;
    background-color:  #f48915;
    border-radius: 20px;
    top: 4px;
    left: 8px;
    z-index: -1;
}
.motivation-text{
    margin-top: 70px;
    
    font-size: 70px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 5px;
}
.description-website-text{
    margin-top: 30px;
   
    font-weight: bold;
    letter-spacing: 1px;
    /* font-size: 15px; */
}
.gym-details{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    
}
.gym-details > div{
    display: flex;
    flex-direction: column;
}
.gym-details > div > span:nth-of-type(1){
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  
}
.gym-details > div > span:nth-of-type(2){
   color: rgb(170, 170, 170);
   text-align: center;
  }
 
  .btn-header{
    display: flex;
  gap: 30px;
 
   margin-top: 30px;
  }
  .btn-header > button{
    font-size: 15px;
    padding: 6px;
    width: 150px;
    cursor: pointer;
  }
  .btn-header > button:nth-child(1){
   background-color:  #f48915;
   color: white;
   border: none;
   font-weight: bold;
  }
  .btn-header > button:nth-child(2){
    background: transparent;
    color: white;
    border: 2px solid  #f48915;
    font-weight: bold;
   }
   .calories{
    position: absolute;
    display: flex;
    gap: 30px;
    /* flex-direction: column; */
    background-color: rgb(121, 121, 121);
    width: 250px;
    height: 90px;
    padding: 20px;
    top: 570px;
    right: 450px;
    align-items: center;
    justify-content: center;
   }
   /* .calories > span:nth-child(2){
    color: rgb(170, 170, 170);
    margin-bottom: 10px;
   }
   .calories > span:nth-child(3){
    color: white;
    font-size: 20px;
    font-weight: bold;
} */
.calories-number{
    display: flex;
    flex-direction: column;
}
.calories-number > span:nth-child(1){
    color: rgb(170, 170, 170);
    margin-bottom: 10px;
    font-size: 17px;
}
.calories-number > span:nth-child(2){
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.our-program{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 90px;
    

}
.our-program > .spans{
    display: flex;
    gap: 110px;
    font-size: 42px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    
}
  .card-programs{
    display: flex;
    gap: 15px;
    margin-top: 25px;

  }
  .card-programs > .card-p{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 340px !important;
    background-color: rgb(115, 115, 115);
    color: white;
    padding: 25px !important;
    font-weight: bold;
    border-radius: 5px;
  }
  .card-programs > .card-p >span:nth-child(1){
margin-bottom: 15px;
  }
  .card-programs > .card-p >span:nth-child(2){
    margin-bottom: 25px;
}
.card-programs > .card-p >span:nth-child(3){
    
}
.card-programs > .card-p:hover{
    background-color:  #f48915;
    cursor: pointer;
}
.why-us{
    overflow-x: hidden;
    margin-top: 50px;
   display: flex;
    margin-left: 50px;
 
}
.why-us > .img-why-us{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
    margin-right: 40px;
  gap: 10px;
    /* width: 400px; */
}
.why-us > .img-why-us > img{
    object-fit: cover;
}
.why-us > .img-why-us >img:nth-child(1){
 grid-column: 1;
 grid-row: 1/3;
 
}
.why-us > .img-why-us >img:nth-child(2){
 grid-column: 2;
 grid-row: 1/2;
}
.why-us > .img-why-us >img:nth-child(3){
    grid-column: 2;
    grid-row: 2/2;
}
.why-choose-us{
  letter-spacing: 3px;
    
}
.why-choose-us > span:nth-child(1){
color:  #f48915;
}
.why-choose-us > span:nth-child(3){
    color: white;
    font-size: 42px;
    font-weight: bold;
}
.why-choose-us > span:nth-child(4){
    color: white;
    font-size: 42px;
    font-weight: bold;
}
.reasons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-weight: bold;
}
.our-partners{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: rgb(170, 170, 170);
    font-weight: bold;
   letter-spacing: 2px;
}
.our-partners-img{
    margin-top: 10px;
}
.our-partners-img > img{
    margin-left: 5px;
}
.plans{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 40px;
    

}
.plans > .spans{
    display: flex;
    gap: 110px;
    font-size: 42px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    
}
.choose-plans{
    display: flex;
    gap: 50px;
    margin-top: 80px;
    justify-content: center;

  }
  .choose-plans > .card-plans{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 500px !important;
    background-color: rgb(115, 115, 115);
    color: white;
    padding: 25px !important;
    font-weight: bold;
    border-radius: 5px;
  }
  .choose-plans > .card-plans:nth-child(2){
    background-color:  #f48915;
    transform: scale(1.1);
  }
  .choose-plans > .card-plans > button{
    border: none;
    height: 40px;
    font-weight: bold;
  }
  .choose-plans > .card-plans > span:nth-child(3){
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .choose-plans > .card-plans > span:nth-child(2){
    
    margin-top: 30px;
   
  }
  .choose-plans > .card-plans > div {
    margin-bottom: 15px;
  }
  .choose-plans > .card-plans > button {
    margin-top: 30px;
    letter-spacing: 1px;
  }
  .choose-plans > .card-plans > span:nth-child(7) {
    margin-top: 30px;
  }
  .testimonials{
    margin-left: 40px;
    margin-top: 100px;
    display: flex;
    overflow-x: hidden;
    
  }
  .testimonials > div > div >span{
    color:  #f48915;
  }
.what-they-say {
    color: white;
    margin-top: 20px;
    line-height: 50px;
   
  
  }
  .what-they-say >span:nth-child(1), .what-they-say > span:nth-child(3){
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .what-they-say-text{
 
    letter-spacing: 2px;
   
  }
 .customer > span:nth-child(1){
    color:  #f48915;
    letter-spacing: 2px;
 }
 .testimonials > div > div:nth-child(2){
    margin-top: 40px;
    position: relative;
   width: 30%;
   margin-left: 100px;

 }
 .border1{
    position: absolute;
    bottom: 40px;
    right: 160px;
    width: 250px;
    height: 250px;
    border: 2px solid  #f48915;

    z-index: -1;
 
    
 }
 .border2{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 250px;
    height: 250px;
   background-color:  #f48915;
   z-index: -1;
 }
 .arows{
    position: absolute;
    left: -70px;
 }
 .levelup-with-us{
    margin-left: 40px;
    margin-top: 80px;
    overflow-x: hidden;
    
 }
 .levelup-with-us > .row > div:nth-child(1){
    color: white;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
 }
 .input{
    background-color: rgb(115, 115, 115);
    padding: 15px;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
 }
 .input >button{
    background-color:  #f48915;
    color: white;
    border: none;
    padding: 6px;
    width: 100px;
    font-weight: bold;
    margin-left: 30px;
 }
 .input >input{
    background-color: rgb(115, 115, 115);
    border: none;
    outline: none;
  width: 60%;
 }
 ::placeholder{
    color: rgb(189, 189, 189);
 }
 .levelup-with-us > hr{
    border: 2px solid  #f48915;
    border-radius: 20%;
    width: 150px;

 }


